.boton_home{
   
width: 214.14px;
height: 92.93px;


background: #07553E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
transform: matrix(1, 0.01, 0, 1, 0, 0);

font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;


color: #FFFFFF;


}

.container-fluid{
    height: 30vh;
    width: 50%;
}


.contenedor{
    height: 100vh;
    width: 100%;
}