/* You can add global styles to this file, and also import other style files */
body{
  
    background-color: #1AA179;
}

.container-fluid{
    background-color: aqua;
    height: 50vh;
    width: 50%;
}